.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This ensures two items per row */
    margin: 6em; 
    padding: 3em;
  }
  
  .card {
    flex: 0 0 calc(50% - 60px); /* Two cards per row with some spacing */
    margin: 15px;
    padding: 1em;
    text-align: center;
  }

  .error {
    color: red;
  }

  .table-div {
    text-align: center;
    
  }

  .table-div table {
    background-color: white;
    padding: 1em;
    width: 40%;
    margin: 0 auto;


    
  }

