mat-paginator{
    font-family: "Bodoni Moda";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    shape-outside: none;
  }

  .table-container {
    /* background: #fedc1d; */
    border-radius: 0.7rem;
    color: #000000;
    padding: 1rem;
    width: fit-content;
    max-width: 80%;
    /* margin-left: 20%; */
    margin: auto;
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }


  table {
    position: relative;
  }
  
  .yellowBtn{
    width: 7rem;
    height: 2rem;
    background-color: yellow;
    border-radius: 10%;
    border-style: none;
    margin-left: 0;
  }

  .mat-table {
    width: 100%;
}


td {
    align-items: center;
    text-align: center;
}

th {
    align-items: center;
    text-align: center;
    /* background-color: #fedc1d; */
}

.header {
  background: #fedc1d;
}

.mat-table th,
.mat-table td {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.card-body {
  margin-bottom: 10px;
}

.price {
  color: green;
}

.early {
  color: red;
}

h3 {
  margin-bottom: 5px;
  color: #32322f;
  font-weight: bold;
}

.card-container {
  width: fit-content;
  max-width: 80%;
  margin: auto;
  align-items: center;
  text-align: center;
}

.element {
  margin-bottom: 20px;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #f5f5f5;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 2px;
}

.card {
  width: 18rem;
  margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #e6f918d7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e4f806f6;
  }
  
  button:disabled {
    cursor: not-allowed;
  }

  .whiteBtn {
    background-color: white;
  }