<form style="margin-left: 10%;"
    method="POST"
    [formGroup]="selectForm" 
    >
    <label style="margin-right: 10px;">Choose meal type:</label>
    <select #issuer class="element" name="mealType" formControlName="mealType">
        <option class="option" *ngFor="let option of mealTypes;let i = 'index';" [value]="option">{{option}}</option>
    </select>
</form>

<div class="container">
    <div class="left">
        <div *ngIf="selectedMealType=='Regular'" class="example-container">
            <h2>Regular meals:</h2>
            <div
                cdkDropList
                #regularList="cdkDropList"
                [cdkDropListData]="regulars"
                [cdkDropListConnectedTo]="[chosenRegularList]"
                class=""
                (cdkDropListDropped)="dropRegular($event)">
                @for (regular of regulars; track regular) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="regulars.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{regular?.name}}</h2></li>
                            <li class="list-group-item">{{regular?.description}}</li>
                            <li class="list-group-item price">Big: {{regular?.largePrice}} din | Small: {{regular?.smallPrice}} din</li>
                        </ul>
                        <ul *ngIf="regulars.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No regular meals</h2></li>
                        </ul>
                    </div>
                </div>
                }
            </div>
        </div>

        <div *ngIf="selectedMealType=='Fit'" class="example-container">
            <h2>Fit meals:</h2>
            <div
              cdkDropList
              #fitList="cdkDropList"
              [cdkDropListData]="fits"
              [cdkDropListConnectedTo]="[chosenFitList]"
              class=""
              (cdkDropListDropped)="dropFit($event)">
              @for (fit of fits; track fit) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="fits.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{fit?.name}}</h2></li>
                            <li class="list-group-item">{{fit?.description}}</li>
                            <li class="list-group-item price">{{fit?.price}} din</li>
                            <li *ngIf="fit?.shouldOrderEarly" class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="fits.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No fit meals</h2></li>
                        </ul>
                    </div>
                </div>
              }
            </div>
        </div>

        <div *ngIf="selectedMealType=='Soup'" class="example-container">
            <h2>Soups:</h2>
            <div
              cdkDropList
              #soupList="cdkDropList"
              [cdkDropListData]="soups"
              [cdkDropListConnectedTo]="[chosenSoupList]"
              class=""
              (cdkDropListDropped)="dropSoup($event)">
              @for (soup of soups; track soup) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="soups.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{soup?.name}}</h2></li>
                            <li class="list-group-item">{{soup?.description}}</li>
                            <li class="list-group-item price">{{soup?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="soups.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No soups</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div>

        <div *ngIf="selectedMealType=='Dessert'" class="example-container">
            <h2>Desserts:</h2>
            <div
              cdkDropList
              #dessertList="cdkDropList"
              [cdkDropListData]="desserts"
              [cdkDropListConnectedTo]="[chosenDessertList]"
              class=""
              (cdkDropListDropped)="dropDessert($event)">
              @for (dessert of desserts; track dessert) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="desserts.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{dessert?.name}}</h2></li>
                            <li class="list-group-item">{{dessert?.description}}</li>
                            <li class="list-group-item price">{{dessert?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="desserts.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No desserts</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div>
    </div>
    <div class="right">
        <div class="containter">
            <div style="width: 43%; margin-left: 10px;" class="example-container left">
                <h2>Menu Regulars:</h2>
                <div
                    cdkDropList
                    #chosenRegularList="cdkDropList"
                    [cdkDropListData]="chosenRegulars"
                    [cdkDropListConnectedTo]="[regularList]"
                    class="example-list"
                    (cdkDropListDropped)="dropRegular($event)">
                    @for (regular of chosenRegulars; track regular) {
                    <div class="example-box" cdkDrag>
                        <div draggable="true" class="card">
                            <ul *ngIf="chosenRegulars.length != 0" class="list-group list-group-flush">
                                <li class="list-group-item"><h2>{{regular?.name}}</h2></li>
                                <li class="list-group-item">{{regular?.description}}</li>
                                <li class="list-group-item price">Big: {{regular?.largePrice}} din | Small: {{regular?.smallPrice}} din</li>
                            </ul>
                                <ul *ngIf="chosenRegulars.length == 0" class="list-group list-group-flush">
                                <li class="list-group-item"><h2>No regular meals</h2></li>
                            </ul>
                        </div>
                    </div>
                    }
                </div>
            </div>

            <div style="width: 45%; margin-left: 8px;" class="example-container right">
                <h2>Menu Fits:</h2>
                <div
                cdkDropList
                #chosenFitList="cdkDropList"
                [cdkDropListData]="chosenFits"
                [cdkDropListConnectedTo]="[fitList]"
                class="example-list"
                (cdkDropListDropped)="dropFit($event)">
                @for (fit of chosenFits; track fit) {
                    <div class="example-box" cdkDrag>
                        <div draggable="true" class="card">
                            <ul *ngIf="chosenFits.length != 0" class="list-group list-group-flush">
                                <li class="list-group-item"><h2>{{fit?.name}}</h2></li>
                                <li class="list-group-item">{{fit?.description}}</li>
                                <li class="list-group-item price">{{fit?.price}} din</li>
                                <li *ngIf="fit?.shouldOrderEarly" class="list-group-item early">*should order a day early</li>
                            </ul>
                            <ul *ngIf="chosenFits.length == 0" class="list-group list-group-flush">
                                <li class="list-group-item"><h2>No fit meals</h2></li>
                            </ul>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div> 
        <div class="container">
            <div style="width: 45%;" class="example-container left">
                <h2>Menu Soups:</h2>
                <div
                cdkDropList
                #chosenSoupList="cdkDropList"
                [cdkDropListData]="chosenSoups"
                [cdkDropListConnectedTo]="[soupList]"
                class="example-list"
                (cdkDropListDropped)="dropSoup($event)">
                @for (soup of chosenSoups; track soup) {
                    <div class="example-box" cdkDrag>
                        <div draggable="true" class="card">
                            <ul *ngIf="chosenSoups.length != 0" class="list-group list-group-flush">
                                <li class="list-group-item"><h2>{{soup?.name}}</h2></li>
                                <li class="list-group-item">{{soup?.description}}</li>
                                <li class="list-group-item price">{{soup?.price}} din</li>
                                <li class="list-group-item early">*should order a day early</li>
                            </ul>
                            <ul *ngIf="chosenSoups.length == 0" class="list-group list-group-flush">
                                <li class="list-group-item"><h2>No soups</h2></li>
                            </ul>
                        </div>
                    </div>
                }
                </div>
            </div>

            <div style="width: 45%;" class="example-container right">
                <h2>Menu Desserts:</h2>
                <div
                cdkDropList
                #chosenDessertList="cdkDropList"
                [cdkDropListData]="chosenDesserts"
                [cdkDropListConnectedTo]="[dessertList]"
                class="example-list"
                (cdkDropListDropped)="dropDessert($event)">
                @for (dessert of chosenDesserts; track dessert) {
                    <div class="example-box" cdkDrag>
                        <div draggable="true" class="card">
                            <ul *ngIf="chosenDesserts.length != 0" class="list-group list-group-flush">
                                <li class="list-group-item"><h2>{{dessert?.name}}</h2></li>
                                <li class="list-group-item">{{dessert?.description}}</li>
                                <li class="list-group-item price">{{dessert?.price}} din</li>
                                <li class="list-group-item early">*should order a day early</li>
                            </ul>
                            <ul *ngIf="chosenDesserts.length == 0" class="list-group list-group-flush">
                                <li class="list-group-item"><h2>No desserts</h2></li>
                            </ul>
                        </div>
                    </div>
                }
                </div>
            </div>
        </div> 
    </div>
</div>

    
        <!-- <div class="example-container">
            <h2>Menu Regulars meals:</h2>
            <div
                cdkDropList
                #chosenRegularList="cdkDropList"
                [cdkDropListData]="chosenRegulars"
                [cdkDropListConnectedTo]="[regularList]"
                class="example-list"
                (cdkDropListDropped)="dropRegular($event)">
                @for (regular of chosenRegulars; track regular) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="chosenRegulars.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{regular?.name}}</h2></li>
                            <li class="list-group-item">{{regular?.description}}</li>
                            <li class="list-group-item price">Big: {{regular?.largePrice}} din | Small: {{regular?.smallPrice}} din</li>
                        </ul>
                            <ul *ngIf="chosenRegulars.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No regular meals</h2></li>
                        </ul>
                    </div>
                </div>
                }
            </div>
        </div>

        <div class="example-container right">
            <h2>Menu Fit meals:</h2>
            <div
              cdkDropList
              #chosenFitList="cdkDropList"
              [cdkDropListData]="chosenFits"
              [cdkDropListConnectedTo]="[fitList]"
              class="example-list"
              (cdkDropListDropped)="dropFit($event)">
              @for (fit of chosenFits; track fit) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="chosenFits.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{fit?.name}}</h2></li>
                            <li class="list-group-item">{{fit?.description}}</li>
                            <li class="list-group-item price">{{fit?.price}} din</li>
                            <li *ngIf="fit?.shouldOrderEarly" class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="chosenFits.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No fit meals</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div>

<div class="container">
    <div >
        <div *ngIf="selectedMealType=='Fit'" class="example-container left">
            <h2>Fit meals:</h2>
            <div
              cdkDropList
              #fitList="cdkDropList"
              [cdkDropListData]="fits"
              [cdkDropListConnectedTo]="[chosenFitList]"
              class="example-list"
              (cdkDropListDropped)="dropFit($event)">
              @for (fit of fits; track fit) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="fits.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{fit?.name}}</h2></li>
                            <li class="list-group-item">{{fit?.description}}</li>
                            <li class="list-group-item price">{{fit?.price}} din</li>
                            <li *ngIf="fit?.shouldOrderEarly" class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="fits.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No fit meals</h2></li>
                        </ul>
                    </div>
                </div>
              }
            </div>
        </div>
    
        <div class="example-container right">
            <h2>Menu Fit meals:</h2>
            <div
              cdkDropList
              #chosenFitList="cdkDropList"
              [cdkDropListData]="chosenFits"
              [cdkDropListConnectedTo]="[fitList]"
              class="example-list"
              (cdkDropListDropped)="dropFit($event)">
              @for (fit of chosenFits; track fit) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="chosenFits.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{fit?.name}}</h2></li>
                            <li class="list-group-item">{{fit?.description}}</li>
                            <li class="list-group-item price">{{fit?.price}} din</li>
                            <li *ngIf="fit?.shouldOrderEarly" class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="chosenFits.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No fit meals</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div >
        <div *ngIf="selectedMealType=='Soup'" class="example-container left">
            <h2>Soups:</h2>
            <div
              cdkDropList
              #soupList="cdkDropList"
              [cdkDropListData]="soups"
              [cdkDropListConnectedTo]="[chosenSoupList]"
              class="example-list"
              (cdkDropListDropped)="dropSoup($event)">
              @for (soup of soups; track soup) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="soups.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{soup?.name}}</h2></li>
                            <li class="list-group-item">{{soup?.description}}</li>
                            <li class="list-group-item price">{{soup?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="soups.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No soups</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div>
    
        <div class="example-container right">
            <h2>Menu Soups:</h2>
            <div
              cdkDropList
              #chosenSoupList="cdkDropList"
              [cdkDropListData]="chosenSoups"
              [cdkDropListConnectedTo]="[soupList]"
              class="example-list"
              (cdkDropListDropped)="dropSoup($event)">
              @for (soup of chosenSoups; track soup) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="chosenSoups.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{soup?.name}}</h2></li>
                            <li class="list-group-item">{{soup?.description}}</li>
                            <li class="list-group-item price">{{soup?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="chosenSoups.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No soups</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="left">
        <div *ngIf="selectedMealType=='Dessert'" class="example-container">
            <h2>Desserts:</h2>
            <div
              cdkDropList
              #dessertList="cdkDropList"
              [cdkDropListData]="desserts"
              [cdkDropListConnectedTo]="[chosenDessertList]"
              class="example-list"
              (cdkDropListDropped)="dropDessert($event)">
              @for (dessert of desserts; track dessert) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="desserts.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{dessert?.name}}</h2></li>
                            <li class="list-group-item">{{dessert?.description}}</li>
                            <li class="list-group-item price">{{dessert?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="desserts.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No desserts</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div>
    
        <div class="example-container right">
            <h2>Menu Desserts:</h2>
            <div
              cdkDropList
              #chosenDessertList="cdkDropList"
              [cdkDropListData]="chosenDesserts"
              [cdkDropListConnectedTo]="[dessertList]"
              class="example-list"
              (cdkDropListDropped)="dropDessert($event)">
              @for (dessert of chosenDesserts; track dessert) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="chosenDesserts.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{dessert?.name}}</h2></li>
                            <li class="list-group-item">{{dessert?.description}}</li>
                            <li class="list-group-item price">{{dessert?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="chosenDesserts.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No desserts</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div>
    </div>
</div> -->

        <!-- <div *ngIf="selectedMealType=='Fit'" class="example-container">
            <h2>Fit meals:</h2>
            <div
              cdkDropList
              #fitList="cdkDropList"
              [cdkDropListData]="fits"
              [cdkDropListConnectedTo]="[chosenFitList]"
              class="example-list"
              (cdkDropListDropped)="dropFit($event)">
              @for (fit of fits; track fit) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="fits.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{fit?.name}}</h2></li>
                            <li class="list-group-item">{{fit?.description}}</li>
                            <li class="list-group-item price">{{fit?.price}} din</li>
                            <li *ngIf="fit?.shouldOrderEarly" class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="fits.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No fit meals</h2></li>
                        </ul>
                    </div>
                </div>
              }
            </div>
        </div>

        <div *ngIf="selectedMealType=='Soup'" class="example-container">
            <h2>Soups:</h2>
            <div
              cdkDropList
              #soupList="cdkDropList"
              [cdkDropListData]="soups"
              [cdkDropListConnectedTo]="[chosenSoupList]"
              class="example-list"
              (cdkDropListDropped)="dropSoup($event)">
              @for (soup of soups; track soup) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="soups.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{soup?.name}}</h2></li>
                            <li class="list-group-item">{{soup?.description}}</li>
                            <li class="list-group-item price">{{soup?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="soups.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No soups</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div> -->

        <!-- <div *ngIf="selectedMealType=='Dessert'" class="example-container">
            <h2>Desserts:</h2>
            <div
              cdkDropList
              #dessertList="cdkDropList"
              [cdkDropListData]="desserts"
              [cdkDropListConnectedTo]="[chosenDessertList]"
              class="example-list"
              (cdkDropListDropped)="dropDessert($event)">
              @for (dessert of desserts; track dessert) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="desserts.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{dessert?.name}}</h2></li>
                            <li class="list-group-item">{{dessert?.description}}</li>
                            <li class="list-group-item price">{{dessert?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="desserts.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No desserts</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div> -->


    <div class="right">
        

        <!-- <div class="example-container">
            <h2>Fit meals:</h2>
            <div
              cdkDropList
              #chosenFitList="cdkDropList"
              [cdkDropListData]="chosenFits"
              [cdkDropListConnectedTo]="[fitList]"
              class="example-list"
              (cdkDropListDropped)="dropFit($event)">
              @for (fit of chosenFits; track fit) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="chosenFits.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{fit?.name}}</h2></li>
                            <li class="list-group-item">{{fit?.description}}</li>
                            <li class="list-group-item price">{{fit?.price}} din</li>
                            <li *ngIf="fit?.shouldOrderEarly" class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="chosenFits.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No fit meals</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div> -->

        <!-- <div class="example-container">
            <h2>Soups:</h2>
            <div
              cdkDropList
              #chosenSoupList="cdkDropList"
              [cdkDropListData]="chosenSoups"
              [cdkDropListConnectedTo]="[soupList]"
              class="example-list"
              (cdkDropListDropped)="dropSoup($event)">
              @for (soup of chosenSoups; track soup) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="chosenSoups.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{soup?.name}}</h2></li>
                            <li class="list-group-item">{{soup?.description}}</li>
                            <li class="list-group-item price">{{soup?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="chosenSoups.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No soups</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div> -->

        <!-- <div class="example-container">
            <h2>Desserts:</h2>
            <div
              cdkDropList
              #chosenDessertList="cdkDropList"
              [cdkDropListData]="chosenDesserts"
              [cdkDropListConnectedTo]="[dessertList]"
              class="example-list"
              (cdkDropListDropped)="dropDessert($event)">
              @for (dessert of chosenDesserts; track dessert) {
                <div class="example-box" cdkDrag>
                    <div draggable="true" class="card">
                        <ul *ngIf="chosenDesserts.length != 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>{{dessert?.name}}</h2></li>
                            <li class="list-group-item">{{dessert?.description}}</li>
                            <li class="list-group-item price">{{dessert?.price}} din</li>
                            <li class="list-group-item early">*should order a day early</li>
                        </ul>
                        <ul *ngIf="chosenDesserts.length == 0" class="list-group list-group-flush">
                            <li class="list-group-item"><h2>No desserts</h2></li>
                        </ul>
                      </div>
                </div>
              }
            </div>
        </div> -->
          
    </div>

<!-- <div *ngIf="selectedMealType=='Regular'">
    <div *ngFor="let regular of regulars; let i = 'index';">
        <div draggable="true" class="card">
            <ul *ngIf="regulars.length != 0" class="list-group list-group-flush">
              <li class="list-group-item"><h2>{{regular?.name}}</h2></li>
              <li class="list-group-item">{{regular?.description}}</li>
              <li class="list-group-item price">Big: {{regular?.largePrice}} din | Small: {{regular?.smallPrice}} din</li>
            </ul>
            <ul *ngIf="regulars.length == 0" class="list-group list-group-flush">
              <li class="list-group-item"><h2>No regular meals</h2></li>
            </ul>
          </div>
    </div>
</div>

<div *ngIf="selectedMealType=='Fit'">
    <div *ngFor="let fit of fits; let i = 'index';">
        <div class="card">
            <ul *ngIf="fits.length != 0" class="list-group list-group-flush">
                <li class="list-group-item"><h2>{{fit?.name}}</h2></li>
                <li class="list-group-item">{{fit?.description}}</li>
                <li class="list-group-item price">{{fit?.price}} din</li>
                <li *ngIf="fit?.shouldOrderEarly" class="list-group-item early">*should order a day early</li>
            </ul>
            <ul *ngIf="fits.length == 0" class="list-group list-group-flush">
                <li class="list-group-item"><h2>No fit meals</h2></li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="selectedMealType=='Soup'">
    <div *ngFor="let soup of soups; let i = 'index';">
        <div class="card">
            <ul *ngIf="soups.length != 0" class="list-group list-group-flush">
                <li class="list-group-item"><h2>{{soup?.name}}</h2></li>
                <li class="list-group-item">{{soup?.description}}</li>
                <li class="list-group-item price">{{soup?.price}} din</li>
                <li class="list-group-item early">*should order a day early</li>
            </ul>
            <ul *ngIf="soups.length == 0" class="list-group list-group-flush">
                <li class="list-group-item"><h2>No soups</h2></li>
            </ul>
        </div>
    </div>
</div>

<div *ngIf="selectedMealType=='Dessert'">
    <div *ngFor="let dessert of desserts; let i = 'index';">
        <div class="card">
            <ul *ngIf="desserts.length != 0" class="list-group list-group-flush">
                <li class="list-group-item"><h2>{{dessert?.name}}</h2></li>
                <li class="list-group-item">{{dessert?.description}}</li>
                <li class="list-group-item price">{{dessert?.price}} din</li>
                <li class="list-group-item early">*should order a day early</li>
            </ul>
            <ul *ngIf="desserts.length == 0" class="list-group list-group-flush">
                <li class="list-group-item"><h2>No desserts</h2></li>
            </ul>
        </div>
    </div>
</div> -->


